  @import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(43, 42, 42);
    scroll-behavior: smooth;
   
}

#navbar {
    height: 100%;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #fff;
    border-right: 2px solid rgb(115, 114, 114);
}

#navbar a {
    text-decoration: none;
    color:rgb(43, 42, 42);
    font-size: 16px;
    display: block;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 1rem;
}
.header {
    font-size: 1.8rem;
    font-weight: 400;
    padding: 5px auto;
    padding-left: 29px;
}
.header-mobile {
    font-size: 1.5rem;
}

.nav-link:first-of-type {
    border-top: 1px solid rgb(0, 0, 0);
}

#main-doc {
    margin-left: 320px;
    padding: 20px;
   
}
h1 {
    font-weight: 500;
    font-size: 1.7rem;
}

.main-section {
line-height: 25px;
}

.main-section ul {
    margin-left: 25px;
}
.main-section ul li {
    padding: 6px 0;;
    font-size: 15px;
}

.code-snippet {
    font-family: 'Source Code Pro', monospace;
    background-color: antiquewhite;
    padding: 15px;
    border-radius: 3px;
}

@media (max-width:768px) {
    #navbar {
        height: 100%;
        width: 100px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: #fff;
        border-right: 2px solid rgb(115, 114, 114);
    }
    #navbar a {
        text-decoration: none;
        color:rgb(43, 42, 42);
        font-size: 12px;
        display: block;
        border-bottom: 1px solid rgb(0, 0, 0);
        padding: 10px 4px;
    }
    #main-doc {
        margin-left: 100px;
        padding: 20px;
        font-size: small;
    }
    .main-section ul li {
        padding: 1px 0;
        font-size: 11px;
    }
    .main-section ul {
        margin-left: 5px;
    }
    h1 {
        font-weight: 500;
        font-size: 1.2rem;
    }
    .header {
        font-size: 1.2rem;
        font-weight: 400;
        padding: 5px;
        visibility: hidden;
        
    }
    
}